/* arthurDesign.css by Arthur-Mihai Niculae */
html {
	font-family: sans-serif; 
	-ms-text-size-adjust: 100%;
	-wvebkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

audio, canvas, video {
	display: inline-block;
	vetical-align: baseline; 
}

audio:not([controls]) {
	display: none;
	height: 0;
}[hidden]

sup {top: -0.5em} sub {bottom: -0.25em}

img {border: 0} svg:not(:root) {overflow: hidden} figure {margin: lem 40px}

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
	text-transform: none;
}

select {
	text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled], html input[disabled] {cursor: default}

input[type=checkbox], input[type=radio] {padding: 0}
/* End extract from normalize.css */
/* --------------------------------------------------------- */

body, html {
	height: 100%;
	color: rgb(119, 119, 119);
	line-height: 1.8;
}

/* Background images */

.bgimg1A, .bgimg1B, .bgimg1C, .bgimg1D, .bgimg1E, .bgimg2, .bgimg3, .bgimg4
, .bgimg5, .bgimg6, .bgimg7, .bgimg8 {
	opacity: 0.8; /* Level of transparency(scale 0 to 1) */
	background-attachment: fixed; /* Will not scroll with the rest of page */
	background-position: center; /* Starting position of background */
	background-repeat: no-repeat;
	background-size: cover;
}

/* Second image (Travels) */
.bgimg2 {
	background-image: url('LV_hotel.jpg');
	min-height: 400px;
}

/* Third image (Contact) */
.bgimg3 {
	background-image: url('working_image.jpg');
	min-height: 400px;
}

/* Fourth image (Programming languages) */
.bgimg4 {
	background-image: url('RBT.jpg');
	min-height: 400px;
}

/* Fifth image (Projects) */
.bgimg5 {
	background-image: url('project.jpg');
	min-height: 900px;
}

/* Conference image */
.bgimg6 {
	background-image: url('conference.jpg');
	min-height: 900px;
}

/* Courses image */
.bgimg7 {
	background-image: url('Imperial.jpg');
	min-height: 900px;
}

/* Turn off scrolling for tablets and mobiles */
@media only screen and (max-width: 1024px) {
	.bgimg1, .bgimg2, .bgimg3, .bgimg4, .bgimg5 {
		background-attachment: scroll;
	}
}

/* End of Background images */
/* ---------------------------------------------------------- */

/* Home Slideshow */

/* First image (My blog logo. Full height) */
.bgimg1A {
    background-image: url("home1.jpg");
    width: 100%;
    height: 800px;
    /*
    background-size: 100% 100%;
    background-size: cover;
    They don't work because Google Chrome doesn't support them. They were
    introduced in CSS3. It has to do with the .svg file (Scalable Vector Graphics)
    */
}

.bgimg1B{
    background-image: url("home2.jpg");
    width: 100%;
    height: 800px;
}

.bgimg1C {
    background-image: url("home3.jpg");
    width: 100%;
    height: 800px;
}

.bgimg1D {
    background-image: url("home4.jpg");
    width: 100%;
    height: 800px;
}

.bgimg1E {
    background-image: url("home5.jpg");
    width: 100%;
    height: 800px;
}



/* End of Home Slideshow*/
/* ----------------------------------------------------------- */

/* Navbar ~ ul(unordered list) */
.navbar { /* Defines the box for navigation bar (list of links)*/
	list-style-type: none; /* Remove bullets */
	margin: 0; /* Remove browser default settings */
	padding: 0; /* Remove browser default settings */
	overflow: hidden;
	position: static;
}

.navbar li {float: left}

.navbar li a, .navitem, .drop-button { /* Navigation bar element */
	display: block; /* Makes the link area clickable (not just the text)*/
	padding: 8px 16px;
	text-decoration: none;
	text-align: center;
}

.navbar a {
	text-decoration: none;
}

.navbar li a:hover, .footer-black:hover, .dropdown:hover .drop-button { /* Define the style when you mouse over a navbar item */
	color: black;
	background-color: rgb(204, 204, 204); /* grey */	
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
}

.dropdown:hover .dropdown-content {display: block}

/* Full-width input fields */
input[type=text].modal-input, input[type=password].modal-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #cccccc;
    box-sizing: border-box;
}

.login-btn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
    border:1px solid #ccc; /* Grey */
    background-color: darkorange;
    cursor: pointer;
}

.login-modal-btn {
    background-color: #f08080;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.cancel-btn {
    width: auto;
    padding: 10px 20px;
    background-color: #800000;
}

/* Center the image and position the close button */
.img-container {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.modal-container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) - a dialog box/popup window displayed on top of current page */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-top: 5px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the Top, 15% from the Bottom and Centered  */
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button (x) */
.modal-close-btn {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    color: darkred;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.5s;
    animation: animatezoom 0.5s;
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* ---------------------------------------------------- */
/* Sidenav section - not responsive for website content
                   - works only on the first page :/    */

.sidenav {
    z-index: 1;
    position: absolute;
    width: 0;
    height: 125%;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #111;
    transition: 0.5s;
    padding-top: 100px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 45px;
    right: 20px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/* End of Sidenav section */
/* ---------------------------------------------------- */

/* Sidebar Section - supposed to use bootstrap and jquery for making the
 website responsive */

#sidebar-wrapper {
    z-index: 1;
    position: absolute;
    width: 0;
    height: 100%;
    overflow-y: hidden;
    background: #2C3E50;
    border: 2px solid black;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

/* Change the width of the sidebar to display it */
#wrapper.menuDisplayed #sidebar-wrapper {
    width: 250px;
}

#wrapper.menuDisplayed #page-content-wrapper {
    padding-left: 250px;
}

/* Sidebar styling */
.sidebar-nav {
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #dddddd;
}

.sidebar-nav li a:hover {
    background: #16A085;
}

/* End of Sidebar Section */
/* ---------------------------------------------------- */
.input, .small-input {
	padding: 8px;
	display: block;
	border: none;
	border-bottom: 1px solid #808080;
}

.input {width: 100%;}
.small-input {width: 50%;}

.container {
	padding: 0.01em 16px;
}

/* What to insert after the content of each selected element */
.container:after, row:after {
	content: "";  
	display: table;
	clear: both;
}

.section {
	margin-top: 16px !important;
	margin-bottom: 16px !important;
}

.border {
	border: 1px solid #ccc;
}

.hover-border-black:hover {
	border-color: #000 !important;
}

.btn {
	border: none;
	display: inline-block;
	outline: 0;
	padding: 6px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: #fff;
	background-color: #000;
	border-color: #000;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}

.button {
	background-color: white;
	color: black;
	padding: 7px 15px; /* Top+Bottom = 7px; Right+Left = 15px */
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin: 4px 5px;
	cursor: pointer; /* It indicates a link */
	border:1px solid #ccc; /* Grey */
	-webkit-transition-duration: 0.4s; /* Safari+Chrome+Opera */
	transition-duration: 0.4s;
}

.button:hover {
	border-color: black;
}

/* ------------------------------------------- */

/* Padding section */
.padding-large {
	padding: 12px 24px !important;
}

.padding-xlarge {
	padding: 16px 32px !important; 
}

.padding-8 {
	padding-top: 8px !important;
	padding-bottom: 8px !important
}

.padding-36 {
	padding-top: 36px !important;
	padding-bottom: 36px !important; 
}

.padding-64 {
	padding-top: 64px !important;
	padding-bottom: 64px !important;
}

.row-padding {
	padding: 8px;
}

.row-padding:after {
	content: "";
	display: table;
	clear: both;
}
/* End of Padding section */
/* ------------------------------------------- */

/* Slideshow section */
* {
	box-sizing: border-box; /* Width + height (+min/max) 
	includes content+padding+border,
	but not margin */
}

/* Slideshow container */
.slideshow-container {
	max-width: 500px;
	position: relative; /* Element is positioned relative to its normal position 
	=> "left:50px" adds 50 pixels to the element's LEFT position*/
	margin: auto; /* Horizontally centers the element within its container 
	Element takes the specified width, and the remaining space will be split equally
	between left and right margin */
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3, 2/3, etc.) */
.numbertext {
	color: white;
	font-size: 13px; /* How big the text is */
	padding: 7px 13px; /* Top+Bottom = 7px; Right+Left = 13px;
	Generate space around content */
	position: absolute; /* Element is positioned relative to its first positioned
	(not static) ancestor element */
	top: 0;
}

/* The dots/bullets */
.dot {
	height: 10px;
	width: 10px;
	margin: 0 2px; /* Top+Bottom = 0px; Right+Left = 2px; */
	background-color: #bbb; /* Light grey */
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active {
	background-color: rgb(113, 113, 113);
}

/* Fading animation */ 
.fade {
	-webkit-animation-name: fade; /* Renders Safari+Chrome+Opera */
	-webkit-animation-duration: 1.5s; /* Renders Safari+Chrome+Opera */
	animation-name: fade;
	animation-duration: 1.5s;
}

/* Used for animations Safari+Chrome+Opera */
@-webkit-keyframes fade {
	from {opacity: .5}
	to {opacity: 1}
}

/* Used for animations */
@keyframes fade {
	from {opacity: .5}
	to {opacity: 1}
}


/* End of Slideshow section */
/* ------------------------------------------ */

/* Table Section (Courses)*/

table {
    font-family: Arial, SansSerif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid#dddddd; /* Grey */
    text-align: left;
    padding: 8px; /* Top+Bottom+Left+Right = 8px */
    color: black;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

th {
    width: 33%;
}

caption {
    font-size: 30px;
    color: black;
}

/* End of table section(Courses) */
/* ------------------------------------------ */

/* Footer pagination */

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

ul.pagination li a.active {
    background-color: darkgreen;
    color: white;
}

ul.pagination li a:hover:not(.active) {
    background-color: lightslategrey;
}

/* End of footer pagination */
/* ------------------------------------------ */

.hover-blue {
	color: white !important;
	background-color: #0367be !important;
}

@media (max-width: 600px) {
    .hide-small {
        display: none !important;
    }
}

.content {
	max-width: 980px;
	margin: auto;
}

.tag {
	background-color:#000;
	color: #fff;
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	text-align:center;
}

.col {
	float: left;
	width: 100%;
}

.display-third, .display-twothird, .display-1half, .display-2half {
	float: left;
	width: 100%;
}

@media only screen and (min-width: 601px) {
	.display-third {width: 33.33333%}
	.display-twothird {width: 66.66666%}
	.col.m {width: 33.33333%}
}

@media only screen and (min-width: 993px) {
	.display-third {width: 33.33333%}
	.display-twothird {width: 66.66666%}
}

@media only screen and (min-width: 601px) {
	.display-1half {width: 49%}
	.display-2half {width: 51%}
}

@media only screen and (min-width: 993px) {
	.display-1half {width: 49%}
	.display-2half {width: 51%}
}

.display-on-top {
	position: fixed;
	width: 100%;
	z-index: 1;
	top: 0;
}

.display-on-right {
	float: right;
}

.display-on-left {
	float: left;
}

.display-center {
	text-align: center;
}

.display-container {
	position: relative;
}

.display-middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.display-left-middle {
	position: absolute;
	top: 25%;
	left: 25%;
	transform: translate(-25%, -25%);
	-ms-transform: translate(-25%, -25%);
}

.display-white-bg {
	color: #000;
	background-color: #fff;
}

.display-gray-bg {
	color: #000;
	background-color: #778899; /* LightSlateGray */
}

.hover-light-grey:hover, .display-light-grey {
	color: #000;
	background-color: #f1f1f1;
}

.black {
	color: black;
}

.card {
	box-shadow:0 4px 8px 0;
	rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
}

.margin {
	margin: 16px;
}

.opacity {
	opacity: 0.6;
}

.half {
	float: left;
	width: 100%;
}

.float-right {
	float: right;
}

.letters-wide {letter-spacing: 4px;}

.justify {
	text-align: justify;
}

/* --------------------------------------------- */
/* Deal with screen sizes */

@media (max-width:600px) {
	.modal-content {margin:0 10px;width:auto!important}
	.modal{padding-top:30px}
}
@media (max-width:768px){
	.modal-content{width:500px}
	.modal{padding-top:50px}
}
@media (min-width:993px) {
	.modal-content{width:900px}
}
@media screen and (max-width:600px){
	.topnav a{display:block}.navbar li:not(.w3-opennav) {
		float:none;width:100%!important
		}
	.navbar li.right {
		float:none!important
	}
}	
@media screen and (max-width:600px) {
	.topnav .dropdown-hover .dropdown-content,.navbar .dropdown-click .w3-dropdown-content
	, navbar .dropdown-hover .dropdown-content{position:relative}
}	
@media screen and (max-width:600px){.topnav,.navbar{text-align:center}}
@media (max-width:600px) {
	.hide-small{display:none!important}
}
@media (max-width:992px) and (min-width:601px) {
	.hide-medium{display:none!important}
}
@media (min-width:993px) {
	.hide-large{display:none!important}
}
@media screen and (max-width:992px) {
	.main{margin-left:0!important;margin-right:0!important}
}